@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&display=swap);


.text-light{
color: $light;
}
.text-dark{
color: $dark;
}
.text-primary{
color: $primary;
}
.text-success{
	color: $success;
}
